450000000,"",123456789AAAA,8888,%NUM%,1,dhcpd,"",aa,DHCPACK to %IP% (%MAC_ADDR%) via eth1,%TS%
450000001,"",123456789AAAA,8888,%NUM%,1,dhcpd,"",aa,DHCPDISCOVER from %MAC_ADDR% via eth1,%TS%
450000002,"",123456789AAAA,8888,%NUM%,1,dhcpd,"",aa,DHCPOFFER on %IP% to %MAC_ADDR% (%DEVICE%) via eth1,%TS%
450000003,"",123456789AAAA,8888,%NUM%,1,dhcpd,"",aa,DHCPREQUEST for %IP% (%IP%) from %MAC_ADDR% (%DEVICE%) via eth1,%TS%
450000004,"",123456789AAAA,8888,%NUM%,1,dhcpd,"",aa,DHCPACK on %IP% to %MAC_ADDR% (%DEVICE%) via eth1,%TS%
