.loader {
  /* display: none; */
  top: 50%;
  left: 50%;
  position: absolute;
  height: 50px;
  width: 50px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #6298da;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: calc(50% - 4px);
  transform-origin: 5px 30px;
  animation: rotate 1.5s infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.d2 {
  animation-delay: 0.1s;
  opacity: 0.9;
}

.d3 {
  animation-delay: 0.2s;
  opacity: 0.8;
}

.d4 {
  animation-delay: 0.3s;
  opacity: 0.7;
}

.d5 {
  animation-delay: 0.4s;
  opacity: 0.6;
}

/* new loader */
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: white;
  border-top-color: transparent;
  border-width: 3px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
