%TS% %TIME_TAKEN% %SRC_IP% - %USERNAME% - - OBSERVED "Government/Legal" - 200 TCP_TUNNELED CONNECT - tcp %HOST% %SRC_IP% 443 / - - "%USER_AGENT%" %SRC_IP% %BYTES% %BYTES% - -
%TS% %TIME_TAKEN% %SRC_IP% - %USERNAME% - - OBSERVED "Audio/Video Clips" - 0 TCP_NC_MISS POST - http %DEST_IP% %DEST_IP% 80 /%URI_PATH%-%NUMBER%.%URI_EXTENSION% - - "%USER_AGENT%" %IPADDR% 0 0 - -
%TS% %TIME_TAKEN% %SRC_IP% - %USERNAME% - - OBSERVED "Content Servers" %HOST%/%URI_PATH%-%NUMBER%.%URI_EXTENSION% 200 TCP_RESCAN_HIT GET %CONTENT_TYPE% http %HOST% %SRC_IP% 80 /%URI_PATH%-%NUMBER%.%URI_EXTENSION% - %URI_EXTENSION% "%USER_AGENT%" %SRC_IP% %BYTES% %BYTES% - -
%TS% %TIME_TAKEN% %SRC_IP% - - - authentication_failed DENIED "Web Advertisements" %HOST%/%URI_PATH%-%NUMBER%.%URI_EXTENSION% 407 TCP_DENIED GET - http %DOMAIN% %DEST_IP% 80 /%URI_PATH%-%NUMBER%.%URI_EXTENSION% ?v=%NUMBER% %URI_EXTENSION% "%USER_AGENT%" %SRC_IP% %BYTES% %BYTES% - -
%TS% %TIME_TAKEN% %SRC_IP% - %USERNAME% - - OBSERVED "Content Servers" %HOST%/%URI_PATH%-%NUMBER%.%URI_EXTENSION% 304 TCP_HIT GET %CONTENT_TYPE% http %HOST% %SRC_IP% 80 /%URI_PATH%-%NUMBER%.%URI_EXTENSION% - %URI_EXTENSION% "%USER_AGENT%" %SRC_IP% %BYTES% %BYTES% - -
